<div>
    <a><img src="images/CtPchatIcon.png" /></a>
    <a><img src="images/CtPtemperatureIcon.png" /></a>
</div>
    
<div>
    <a><img src="images/CtPtipsIcon.png" /></a>
    <a><img src="images/CtPweatherIcon.png" /></a>
</div>